{#include template.html}
	{#body}
		<div class="row g-4">
			<div class="col-12">
				<div class="card shadow h-100">
					<div class="card-body">
						<h1>Hello {identity.name ?: 'Anonymous'} 😎!</h1>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card shadow h-100">
					<div class="card-header">
						<h5>ID Token</h5>
					</div>
					<div class="card-body text-primary small">
						<pre>{idTokenPayload ?: 'n/a'}</pre>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card shadow h-100">
					<div class="card-header">
						<h5>Access Token</h5>
					</div>
					<div class="card-body text-secondary-emphasis small">
						<pre>{accessTokenPayload ?: 'n/a'}</pre>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card shadow h-100">
					<div class="card-header">
						<h5>Identity</h5>
					</div>
					<div class="card-body small">
						<code>{identity ?: 'n/a'}</code>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card shadow h-100">
					<div class="card-header">
						<h5>Refresh Token</h5>
					</div>
					<div class="card-body text-muted small">
						<pre>{refreshTokenPayload ?: 'n/a'}</pre>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card shadow">
					<div class="card-body text-success">
						<h3>{quote ?: 'n/a'}</h3>
					</div>
				</div>
			</div>
		</div>
	{/body}
{/include}
